@import '~@/web-client/styles/media.css';

.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 140px;
  height: 140px;
  @media (--small-screen)
  {
    & {
      width: 100px;
      height: 100px;
    }
  }
}

.loadingPane {
  width: 100%;
  height: 100%;
}