@import '../../styles/colors.css';

.inputElement{
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
  background: #fff;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.submitButton
{
  display: block;
  border: 0;
  background: var(--proceed-button-backgound-color);
  color: var(--proceed-button-base-text-color);
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
}
