@import '~@/web-client/styles/media.css';

.productList {
}
.productListItem {
  margin: 20px 0;
}
@supports (display: grid) {
  .productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
  }
  .productListItem {
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
  }
}

.imageLinkContainer {
  margin-bottom: 15px;
  text-align: center;
}

.imageLink {
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 240px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.image {
  max-width: 100%;
  background: rgba(0, 0, 0, 0.2);
  vertical-align: bottom;
}

.nameLinkContainer {
  margin-bottom: 10px;
  text-align: center;
}

.nameLink {
  text-decoration: none;
  line-height: 1.4;
  color: #fff;
  font-size: 1.2rem;

  &:hover {
    text-decoration: underline;
  }
}

.description {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.4;
  color: #fff;
}

.noImagePane {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  width: 100%;
}
