{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "add-module-exports",
    ["module-alias", [ {
      "src": "./src",
      "expose": "@"
    }]],
    "transform-runtime",
    "syntax-dynamic-import",
    "dynamic-import-webpack"
  ]
}