@import '~@/web-client/styles/colors.css';
@import '~@/web-client/styles/media.css';
@import '~@/web-client/components/AdminNavigation/variables.css';

.container {
  background: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 100%;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: #fff;
}

@media (--small-screen) {
  .bodyContainer {
    flex-direction: column;
  }
}

.navContainer {
  width: 210px;
  min-width: 210px;
  transition: 0.3s;
  background: #e7e7e7;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;

  &.hidden {
    width: 0;
    min-width: 0;
  }
}

@media (--small-screen) {
  .navContainer {
    width: 100%;
    min-width: auto;
    height: var(--nav-height);

    &.hidden {
      width: 100%;
      min-width: auto;
      height: 0;
    }
  }
}

.mainContentContainer {
  flex-grow: 1;
  overflow: auto;
  background: #fff;
  position: relative;
}
