@import "../../styles/colors.css";

.container {
  background: #f0f0f0;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.headerContainer {
  width: 100%;
}

.bodyContainer {
  display: flex;
  flex-grow: 1;
}

.navContainer {
  min-width: 210px;
  width: 210px;
  transition: min-width 0.3s, width 0.3s;
  overflow-x: hidden;
  background: #e7e7e7;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;

  &.hidden {
    min-width: 0;
    width: 0;
  }
}

.mainContentContainer {
  flex-grow: 1;
  padding: 40px;
  line-height: 1.4;
  color: #333;
  background: #ffffff;
  overflow: auto;
  box-sizing: border-box;

  & h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  & p {
    margin-bottom: 30px;
  }

  & a {
    color: var(--link-color);
  }
}

.loginPanelContainer {
  background: #f0f0f0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-y: hidden;
}

.loginPane {
  margin-bottom: 30px;
}

.logoContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoIconContainer {
  font-size: 2.5rem;
  margin-right: 11px;
  margin-left: 5px;
}

.logoText {
  font-size: 2.1rem;
  font-family: 'Fjalla One', sans-serif;
  display: inline-block;
  margin-right: 5px;
}

.noPermissionMessageContainer {
  padding: 50px;
  width: 500px;
  margin: 0 auto;
}

.noPermissionMessage {
  margin-bottom: 40px;
}

.noPermissionMenu {
  padding-left: auto;
  list-style-type: disc;
}

.noPermissionMenuItem {
  margin-bottom: 30px;
}

.noPermissionLogoutButton {
  font-size: 1rem;
  border-color: #ccc;
  background: #f0f0f0;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
}