@import '~@/web-client/styles/colors.css';

.orderItemListItemSeparator {
  font-size: 0.5rem;
  display: inline-block;
  padding: 0 5px 0 4px;
  vertical-align: middle;
}

.specListContainer {
  margin-bottom: 20px;
}
