.container {
  color: #fff;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.name {
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 1.4;
  margin-bottom: 15px;
  text-align: center;
}

.imagePaneContainer {
  text-decoration: none;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.noImagePane {
  height: 320px;
  width: 320px;
  background: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  @media (max-width: 320px) {
    & {
      width: 100%;
      height: 240px;
    }
  }
}

.image {
  max-width: 320px;
  max-height: 320px;
  vertical-align: bottom;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.description {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.price {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 0.8rem;
  display: inline-block;
  line-height: 1.8rem;
}

.input {
  font-size: 0.8rem;
  width: 3.5rem;
  vertical-align: middle;
  border-radius: 5px;
  padding: 6px 7px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 10px;
}