@import '~@/web-client/styles/media.css';

.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  background: #fff;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 30px;
}