@import '~@/web-client/styles/media.css';

.container {
  box-sizing: border-box;
  background: #97cd15;
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 30px;
}