@import '~@/web-client/styles/colors.css';

.button {
  font-size: 1rem;
  padding: 5px 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;

  &:disabled {
    background: #eee;
    cursor: default;
  }
}

.neutral {
  color: var(--text-color-neutral);
  &:disabled {
    color: color(var(--text-color-neutral) alpha(-50%));
  }
}

.warning {
  color: var(--text-color-warning);
  &:disabled {
    color: color(var(--text-color-warning) alpha(-50%));
  }
}

.encouraging {
  color: var(--text-color-encouraging);
  &:disabled {
    color: color(var(--text-color-encouraging) alpha(-50%));
  }
}

.buttonContainer {
  margin-bottom: -10px;

  & > .button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  & > .button:last-child {
    margin-right: 0;
  }
}