@import '~@/web-client/styles/colors.css';

.button {
  font-size: 1rem;
  padding: 5px 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

.neutral {
  color: var(--text-color-neutral);
  outline-color: var(--text-color-neutral);
  outline-width: medium;
}

.warning {
  color: var(--text-color-warning);
  outline-color: var(--text-color-warning);
  outline-width: medium;
}

.encouraging {
  color: var(--text-color-encouraging);
  outline-color: var(--text-color-encouraging);
  outline-width: medium;
}

.buttonContainer {
  & > .button {
    margin-right: 10px;
  }
  & > .button:last-child {
    margin-right: 0;
  }
}