.addButtonContainer {
  margin-bottom: 20px;
  text-align: right;
}

.showCreateButtonContainer {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.specListContainer {
  margin-bottom: 20px;
}

.editForm {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}