.addButtonContainer {
  margin-bottom: 20px;
}

.specListContainer {
  margin-bottom: 20px;
}

.editForm {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.productImage {
  max-width: 100%;
  max-height: 20rem;
  vertical-align: bottom;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}