@import '~@/web-client/styles/colors.css';

.addButtonContainer {
  margin-bottom: 20px;
  text-align: right;
}

.productNumber {
  margin-bottom: 15px;
  line-height: 1.4;
  font-size: 0.8rem;
  color: #777;
  display: inline-block;
}

.showCreateButtonContainer {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.editForm {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}