@import "../../styles/colors.css";

.table {
  min-width: 100%;
  box-sizing: border-box;

  & td, & th {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 7px 5px 14px;
    white-space: nowrap;
    box-sizing: border-box;

    &.valueColumn {
      width: 30%;
    }
  }

  & th {
    text-align: center;
  }

  & thead tr {
    & td, & th {
    }
  }

  & tr:nth-child(2n) {
    & td, & th {
      background: #f5f5f5;
    }
  }

  & tr:last-child {
    & td, & th {
      background: #ffffff;
    }
  }

  & tr.editedProductRow {
    & td, & th {
      //background: rgb(192, 233, 151);
      //position: relative;
    }
  }
}

.input {
  font-size: 1rem;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}

.inputError {
  background: #ffd5cd;
  border: 1px solid #cc7d73;
}

.showCreateButtonContainer {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.editButton, .cancelButton, .saveButton, .deleteButton, .showCreateButton
{
  font-size: 1rem;
  padding: 5px 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  outline: 0;

  &:focus
  {
    border-color: var(--link-color);
  }

  &:active
  {
    border-color: color(var(--link-color) lightness(50%));
  }
}

.saveButton
{
  margin-left: 10px;
  color: var(--link-color);
}

.deleteButton
{
  margin-left: 10px;
  color: #ff6761;
}
