@import '~@/web-client/styles/media.css';
@import '~@/web-client/components/ShopHeader/variables.css';

:root {
  min-height: 100%;
  position: relative;
}

.bodyContent {
  padding: calc(var(--header-height) + 30px) 35px 100px;
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

@media (--small-screen) {
  .bodyContent {
    padding-top: calc(var(--header-height-small-screen) + 30px);
  }
}

.footer {
  text-align: center;
  background: #97cd15;
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.9rem;
  color: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  font-size: 1rem;
  color: #ffff00;
}