@import '~@/web-client/styles/media.css';
@import '~@/web-client/styles/z-indexes.css';
@import '~@/web-client/components/ShopHeader/variables.css';

:root {
  --footer-height: 4rem;
  --footer-height-small-screen: 2rem;
}

.background {
  background-image: url('/shop-background-01.jpg');
  background-color: #271a0e;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  background-position-y: top;
  background-attachment: fixed;
  @media (min-aspect-ratio: 6/4) {
    & {
      background-size: 100% auto;
      background-position-y: center;
    }
  }
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  z-index: var(--shop-header-z-index);
  width: 100%;
}

.main {
  box-sizing: border-box;
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Assistant', sans-serif;
  z-index: var(--shop-page-content-z-index);
  position: relative;
  @media (--small-screen) {
    & {
      padding-top: var(--header-height-small-screen);
    }
  }
}

.cartContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bellefair', serif;
  @media (--small-screen) {
    & {
      font-size: 0.7rem;
      height: var(--footer-height-small-screen);
    }
  }
}