@import '../../styles/media.css';
@import '../ShopHeader/variables.css';

:root {
  min-height: 100%;
  position: relative;
}

.bodyContent {
  padding: calc(var(--header-height) + 20px) 35px 70px 35px;
}

@media (--small-screen) {
  .bodyContent {
    padding-top: 20px;
  }
}

.footer {
  text-align: center;
  background: #97cd15;
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.9rem;
  color: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  font-size: 1rem;
  color: #ffff00;
}