:root {
  min-height: 100%;
  position: relative;
}

.header {
  padding: 20px 35px  20px 20px;
  height: 100px;
  box-sizing: border-box;
  background: #97cd15;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}

@media (width <= 500px) {
  .header {
    padding: 20px 25px  20px 10px;
    position: static;
  }
}

.logoLink {
  color: #ffff00;
  text-decoration: none;
  padding: 15px;
  outline: 0;
  border-radius: 4px;
  display: flex;
  white-space: nowrap;

  &:hover, &:focus {
    background: #668815;
  }
}

.menu {
  display: flex;
  flex-direction: row;
}

.menuItem {
  margin-left: 10px;
  display: flex;

  &:first-child {
    margin-left: 0;
  }
}

@media (width <= 500px) {
  .menuItem {
    margin-left: 5px;
  }
}

.menuButton {
  cursor: pointer;
  font-size: 1.5rem;
  border: 0;
  background: transparent;
  color: #5f810e;
  padding: 15px;
  outline: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover, &:focus {
    background: #668815;
    color: #fff;
  }
}

@media (width <= 500px) {
  .menuButton {
    font-size: 1.2rem;
  }
}

.bodyContent {
  padding: 120px 35px 70px 35px;
}

@media (width <= 500px) {
  .bodyContent {
    padding-top: 20px;
  }
}


.footer {
  text-align: center;
  background: #97cd15;
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.9rem;
  color: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  font-size: 1rem;
  color: #ffff00;
}