@import '~@/web-client/styles/colors.css';
@import '~@/web-client/styles/z-indexes.css';
@import '~@/web-client/components/AdminNavigation/variables.css';

.container {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.list {
  //background: #f3f3f3;
}

.listItem {
  border-bottom: 1px solid #cccccc;
  height: var(--nav-item-height);
  box-sizing: border-box;
  display: flex;

  &:first-child {
    border-top: 1px solid #cccccc;
  }
}

.link {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
  text-decoration: none;
  color: #555555;
  text-align: left;
  white-space: nowrap;
  border: 0;
  background: #f3f3f3;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  position: relative;

  &:hover {
    background: #ffffff;
  }

  &:focus {
    z-index: var(--admin-nav-button-focused-z-index);
  }
}

.linkIconContainer {
  font-size: 0.9rem;
  vertical-align: middle;
  padding-left: 14px;
  padding-right: 3px;
  width: 0.9rem;
}

.linkText {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-left: 14px;
  padding-right: 14px;
  white-space: nowrap;
}