@import "../../styles/colors.css";

.container {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.list {
  //background: #f3f3f3;
}

.listItem {
  border-bottom: 1px solid #cccccc;

  &:first-child {
    border-top: 1px solid #cccccc;
  }
}

.link {
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 14px;
  color: #555555;
  text-align: left;
  white-space: nowrap;
  border: 0;
  width: 100%;
  background: #f3f3f3;
  font-family: inherit;
  box-sizing: border-box;
  outline: 0;

  &:hover {
    background: #ffffff;
  }

  &:focus {
    border-right: 1px solid var(--link-color);
  }
}

.linkIconContainer {
  font-size: 0.9rem;
  vertical-align: middle;
}

.linkText {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-left: 14px;
  padding-right: 14px;
  white-space: nowrap;
}